.phil{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: fit-content;
    
   
    /* align-items: center; */
   
}

#distinct{
    margin-right: 10%;
   width: 600px;
   height: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}
.string{
  
    width: 70%;
    height: 550px;;
}

.mission{ 
    width: 600px;
    height: 500px;
    /* border: 2px solid #444444; */
     object-fit: scale-down;
     padding: 40px;
     /* margin-left: 10%; */
     background-color: whitesmoke;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
