.home {
  position: relative;
  width: 100%;
}

.body {
  position: relative;
  background-color: #ffffff;
}

.particles-bg-canvas-self {
  height: 100% !important;
  position: fixed;
  width: 100%;
  z-index: -1;
}
  
  
  
  
  