
.projects_main h1,
.projects_main p{
    text-align: center;
    margin-top:3rem;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* #projects_card{
   margin: 2%;
    width:fit-content;
    width: 50%;
    max-width: 400px;
    max-height: 500px;
    
} */

/* .projects_image{
    height: 400px;
    
    transition: all color 2s;
    padding: 20px;
} */

.projects_image:hover{
    cursor:pointer;
    /* filter:brightness(50%); */
    background-color: violet;
    transform: scale(1.2,1.2);
  
}

.projects_click_info{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:black;
    display: none;
}
.overlay{
    display: block;
}
.projects_image:hover + .projects_click_info{
    display: block;
}

.modal-backdrop.show{
    opacity: .1 !important;
}

#projects_modal_link{
    padding:1 0 1rem 1rem;
    color:black;

}
#projects_modal_link:link{
    text-decoration: underline;
}

@media only screen and (max-width:700px){
    #projects_card{
        width: 100%;
        padding:0.5rem 2.5rem;
        border: none;
        flex-direction: column;
    
    }
}
.projects{
    text-align: center;
}

/* .shadow{
    box-shadow: 0px 35px 77px -1px rgba(0,0,0,0.44);

} */

/* .across{
    padding:0px;
}
.Container{
    display: flex;
    flex-direction: row;
}
.row{
    flex-direction: row;
} */
/* .row{
    flex-direction: row;

.image-fluid{
    width: max-content;
}  */
