.about{
    display:flex;
    flex-direction: column;
    /* position: absolute; */
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.custom{
    padding:100px;
    margin: 100px;
}